nav
  ul
    li
      a(href='/list') Fordon
    li
      a(href='/newBooking') Boka fordon
    li
      a(href='/users') Användare
    li
      a(href='/bookings') Bokningar
    li
      a(href='/TODO') TODO
    li
      a(href='/login') Login
