nav
  ul
    li
      a(href='/') Startsida
    |       
    li
      a(href='/list') Lista fordon
    |       
    li
      a(href='/newBooking') Boka fordon
    |       
    li
      a(href='/users') Lista användare
    |       
    li
      a(href='/bookings') Lista bokningar
    |       
    li
      a(href='/login') Login
