doctype html
html(lang='sv')
  head
    title= CARPOOL
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
  body
    - if (username === 'admin')
      include ./includes/nav.jade  
    - else 
      include ./includes/userNav.jade  
    block content
