extends loginLayout

block content
  #login
    form(method='POST', action='http://localhost:3000/loginSent')
      .logo
        h1 ALMSTRÖMS
        h3 SERVICE AB
        | &#x9;
      div
        input(type='text', name='username', placeholder='Username', autofocus='')
      | &#x9;&#x9;
      //div
        input(type='password', name='password', placeholder='Password')
      | &#x9;&#x9;
      //div
        input(type='text', name='country', placeholder='Land')
      | &#x9;&#x9;
      //div
        input(type='text', name='producer', placeholder='Producent')
      | &#x9;&#x9;
      //div
        input(type='text', name='brewingMethod', placeholder='Bryggmetod')
      | &#x9;&#x9;
      //div
        input(type='text', name='about', placeholder='Beskrivning')
      | &#x9;&#x9;
      p
        button.myButton Login
      p.tip
        b hint: 
        | admin for admin. lisa, bart, 
        br
        | homer, marge for normal user.
