extends layout

block content
  #add
    form(method='POST', action='/getVehicles')
      h1 HITTA FORDON (1/3)
      | &#x9;
      |     
      div
        label(for='startDate') 
        b Startdatum
      |   
      input(type='date', name='startDate', min='2016-03-03')
      |     
      div 
        label(for='endDate')
          b Slutdatum
      input(type='date', name='endDate', min='2016-03-03')
      //div
        input(type='text', name='vehicleId', placeholder='vehicleId')
      //div
        input(type='text', name='title', placeholder='Namn')
      | &#x9;&#x9;
      //div
        input(type='text', name='roastery', placeholder='Rosteri')
      | &#x9;&#x9;
      //div
        input(type='text', name='country', placeholder='Land')
      | &#x9;&#x9;
      //div
        input(type='text', name='producer', placeholder='Producent')
      | &#x9;&#x9;
      //div
        input(type='text', name='brewingMethod', placeholder='Bryggmetod')
      | &#x9;&#x9;
      //div
        input(type='text', name='about', placeholder='Beskrivning')
      | &#x9;&#x9;
      p
        button.myButton Visa fordon
      // if written
        p#notification Bil bokad.