extends layout

block content
  #add
    form(method='POST', action='/getVehicles')
      h1 HITTA FORDON (1/3)
      | &#x9;
      div
        label(for='startDate')
        b Startdatum

      input(type='date', name='startDate', min='#{today}', required='')

      div
        label(for='endDate')
          b Slutdatum
      input(type='date', name='endDate', min='#{today}', required='')
      div
        input(type='radio', name='gender', value='company')
        |  Företag


        input(type='radio', name='gender', value='private')
        |  Privat
        br
      p
        button.myButton Visa fordon
      // if written
        p#notification Bil bokad.
