extends layout

block content
  //h1= title
  #listContainer
    #productList
      h1 Bokningsbekräftelse (3/3)
      //p #{username} is logged in.
      p Gratulerar, ditt fordon är nu bokat.
      div 
        b Fordonsnr: 
        | #{vehicleId}

      div 
        b Hämtas: 
        | #{startDate}
      div  
        b Lämnas: 
        | #{endDate}
      p.read Om du skulle få förhinder går det givetvis att avboka inne på din din sida under "Mina bokningar". 
      | 
      em Kör försiktigt!