doctype html
html
  head
    meta(charset='UTF-8')
    title Bilpool edit
  body
    form(action='/', method='post')
      br
      p
        | Id:
        input(type='text',name='id', placeholder='id', required='')
      p
        | Regnumer:			
        input(type='text', name='regNumer', placeholder='regNumer', required='')
        br
      p
        | Brand:			
        input(type='text', name='brand', placeholder='brand', required='')
        br
      p
        | Name:				
        input(type='text', name='name', placeholder='name')
        br
      p
        | Passengers:		
        input(type='text', name='passengers', placeholder='passengers')
        br
      p
        | Doors:			
        input(type='text', name='doors', placeholder='doors')
        br
      p
        | Transmission:	
        input(type='text', name='transmission', placeholder='transmission')
        br
      p
        | Type:				
        input(type='text', name='type', placeholder='type')
        br
      p
        | Fuel:				
        input(type='text', name='fuel', placeholder='fuel')
        br
      p
        | Mileage:			
        input(type='text', name='mileage', placeholder='mileage')
        br
      p
        | Status:			
        input(type='text', name='status', placeholder='status')
        b
      p
        | Last Inspection Month:
        input(type='text', name='lastInspectionMonth', placeholder='insepction month')
        br
      button(type='submit') Submit
      
   
